* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-image: linear-gradient(
    186deg,
    rgba(16, 53, 123, 1) 0%,
    rgba(23, 35, 91, 1) 93%
  );
}
.container {
  width: 350px;
  height: 550px;
  border-radius: 20px;
  background-color: #1e0259;
  box-shadow: 0 48px 98px #1e0259;
  padding: 38px;
  overflow: hidden;
  color: aliceblue;
}
.song-name,
.artist {
  text-align: center;
  text-transform: capitalize;
}
.artist {
  font-size: 20px;
}
.box-disk::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1e0259;
}
.box-disk {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: url("/Images/TaylorSwift.jfif") no-repeat top left;
  background-size: cover;
  position: relative;
  display: block;
  margin: 40px auto;
  box-shadow: 0 0 0 5px rgba(16, 53, 123, 0.8);
  animation: rotate 20s linear infinite;
  animation-play-state: paused;
}
.box-disk.play {
  animation-play-state: running;
}
.music-slider {
  width: 100%;
  float: left;
  position: relative;
}
.seek-bar {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: #ccc;
  appearance: none;
  cursor: pointer;
  overflow: hidden;
}
.seek-bar::-webkit-slider-thumb {
  appearance: none;
  width: 1px;
  height: 20px;
  background: forestgreen;
  box-shadow: -400px 0 0 400px royalblue;
}
.current-time,
.music-time {
  font-size: 15px;
}
.music-time {
  position: absolute;
  float: left;
  right: 0;
}
.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.btn-play {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: coral;
  cursor: pointer;
  border: none;
}
.btn-play span {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
  width: 10px;
  height: 30px;
  border-radius: 2px;
  background: beige;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  transition: 0.5s;
}
.btn-play span:nth-child(2) {
  left: 55%;
  transform-origin: center;
}
.btn-play.pause span:nth-child(2) {
  transform: translateY(-50%) scale(0);
}
.btn-play.pause span:nth-child(1) {
  width: 35%;
  height: 53%;
  transform: translate(30%, -50%);
  border-radius: 0;
  clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100%);
}
.btn-play.pause {
  animation: pulse 1s linear infinite;
}
@keyframes pulse {
  0% {
    box-shadow: 0;
  }
  50% {
    box-shadow: 0 0 0 5px rgba(14, 39, 147, 0.1);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(14, 39, 147, 0.8);
  }
}
.btn {
  width: 40px;
  height: 40px;
  background: salmon;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  margin: 7px 23px;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
